<!DOCTYPE html>
<html>
<head>
  <title>Quiz2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
  table, th, td {
    border: 1px solid black;
  }
  table {
    float: left;
    clear: both;
  }
  .pagination {
    float: left;
  }
  .support-requests-title {
    float: left;
    margin-top: auto;
    margin-right: 20px;
  }
  .search-bar {
    float: left;
    /*clear: both;*/
  }
  </style>
</head>
<body>
<%= link_to "Home", supports_path %>
|

<%= yield %>

</body>
</html>
