<%= @support.errors.full_messages.join(", ") %>
<%= form_for @support do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_area :name %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.text_area :email %>
  </div>
  <div>
    <%= f.label "Department" %>
    <%= f.radio_button :department, "sales" %>
    <%= f.label :department_sales, "Sales" %>
    <%= f.radio_button :department, "marketing" %>
    <%= f.label :department_marketing, "Marketing" %>
    <%= f.radio_button :department, "technical" %>
    <%= f.label :department_technital, "Technical" %>
  </div>
  <div>
    <%= f.label :message %>
    <%= f.text_area :message %>
  </div>
  <%= f.submit "Save" %>
<% end %>
